<div class="card">
	<h5 class="card-header">Add Job</h5>
	<div class="card-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
				  </div>
				  <input type="text" class="form-control" placeholder="Job Name" aria-label="Job" ng-model="job.name"/>
				</div>
			</div>
		</div>
			
		<div class="row">
			<div class="col-sm-12">
				<a href="#" class="btn btn-primary" ng-click="main.data.helpers.addJob(job); job=null">Add Job</a>
			</div>
		</div>
	</div>
</div>
