<div class="card">
	<h5 class="card-header">Add Location</h5>
	<div class="card-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
				  </div>
				  <input type="text" class="form-control" placeholder="Name" aria-label="location.name" ng-model="location.name"/>
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col-sm-12">
				<a href="#" class="btn btn-primary" ng-click="main.data.helpers.addLocation(location); location=null">Save Location</a>
			</div>
		</div>
	</div>
</div>
