<div class="card">
	<h5 class="card-header">Create Shift</h5>
	<div class="card-body">
		<div class=row>
			<div class="col-sm">
				{% include "admin/components/employee.html" %}
			</div>
			<div class="col-sm">
				{% include "admin/components/job.html" %}
			</div>
		</div>
		<div class=row>
			<div class="col-sm">
				{% include "admin/components/location.html" %}
			</div>
			<div class="col-sm">


				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01">Date</label>
					</div>
					<input type="date" class="form-control" aria-label="date" aria-describedby="basic-addon2" id="shift-date" ng-model="shift.date">
				</div>
			</div>
		</div>
		<div class=row>
			<div class="col-sm">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01">Start Time</label>
					</div>
					<input type="time" class="form-control" aria-label="starttime" aria-describedby="basic-addon2" id="shift-starttime" ng-model="shift.start_time">
				</div>
			</div>
			<div class="col-sm">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect02">End Time</label>
					</div>
					<input type="time" class="form-control" aria-label="endtime" aria-describedby="basic-addon2" id="shift-endtime" ng-model="shift.end_time">
				</div>
			</div>
		</div>
	</div>


	<div class=row>
		<div class="col-sm">
			<a href="#" class="btn btn-primary" ng-click="saveShift()">Save Shift</a>
		</div>
	</div>
</div>
