<div class="card">
	<h5 class="card-header">
		Add Shift
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</h5>
	<div class="card-body">

	<form name="shiftForm" ng-submit="main.data.helpers.addShift(shift); shift=null">
		<div class="row">
			<div class="col-sm-6">
				<employee-select ng-model="shift.employee_id"></employee-select>
			</div>
			<div class="col-sm-6">
				<category-select ng-model="shift.category"></category-select>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<location-select ng-model="shift.location"></location-select>
			</div>
			<div class="col-sm-6">


				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01">Date</label>
					</div>
					<input type="date" class="form-control" aria-label="date" aria-describedby="basic-addon2" id="shift-date" ng-model="shift.date">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01">Start Time</label>
					</div>
					<input type="time" class="form-control" aria-label="starttime" aria-describedby="basic-addon2" id="shift-starttime" ng-model="shift.start_time">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect02">End Time</label>
					</div>
					<input type="time" class="form-control" aria-label="endtime" aria-describedby="basic-addon2" id="shift-endtime" ng-model="shift.end_time">
				</div>
			</div>
		</div>

	<div class="row">
		<div class="col-sm-12">
			<input type="submit" class="btn btn-primary" value="Add Shift"/>
		</div>
	</div>

	</form>

	</div>
</div>
