<div class="card">
	<h5 class="card-header">
		Delete Employee
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</h5>
	<div class="card-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01">Employee</label>
					</div>
					<select ng-options="employee as employee.first_name + ' ' +employee.last_name for employee in employees" class="custom-select" id="inputGroupSelect01" ng-model="employee" ng-change="setEmployee()">
						
					</select>
				</div>
			</div>
		</div>
		<div class=row>
			<div class="col-sm-12">
				<a href="#" class="btn btn-primary" ng-click="deleteEmployee()">Delete Employee</a>
			</div>
		</div>
	</div>
</div>
