.navbar{
background-color:#1E4258; 
font-family: Helvetica,Arial,sans-serif;
}

.btn-primary{
font-family: Helvetica,Arial,sans-serif;
background-color: #ED2CB2; 
border-radius: 20%; 
text-align: center; 
}

.btn-default{
font-family: Helvetica,Arial,sans-serif;
color: #5D5D5D; 
text-align: center; 
}

.category{
font-family: Helvetica,Arial,sans-serif;
font-size: X-large; 
color: #5D5D5D;
}

.location{
font-family: Helvetica,Arial,sans-serif;
font-size: medium; 
color: #5D5D5D;
}

.shift-date{
font-family: Helvetica,Arial,sans-serif;
color: #5D5D5D;
font-size: large; 
}

input.confirmation-check{
 width: 30px;
  height: 30px;
background: #C7C7C7; 
}


.shift-time{
font-family: Helvetica,Arial,sans-serif;
font-size: medium; 
color: #5D5D5D;
}

.list-group list-group-flush{
font-family: Helvetica,Arial,sans-serif; 
text-align: center; 
}
.card-header{
font-family: Helvetica,Arial,sans-serif;
}





/* settings */
#settings .card {
	border: none;
}

#update-modal .modal-body {
	padding: 0;
}

.settings-buttons ul {
	padding-bottom: 2em;

}

.settings-buttons li {
	display: block;
    float: left;
    list-style-type: none;
    padding: .5em;
    margin-bottom: 1.5em;
}

.settings-buttons li > a {
    background: #6610f2;
    padding: 1em 3em;
    font-weight: 500;
    color: #fff;
    border-radius: 2px;
}

#settings #accordion .btn-link {
    font-weight: 900;
    color: #000;
    width: 100%;
    text-align: left;
}