html {
    font-family: Helvetica,Arial,sans-serif;
}
.navbar{
background:#1E4258; 

}

.btn-default{

background-color: #ED2CB2 !important; 
text-align: center; 
}

/*buttons for schedule*/


.category{

font-size: X-large; 
color: #5D5D5D;
}

.location{

font-size: medium; 
color: #5D5D5D;
}

.shift-date{

color: #5D5D5D;
font-size: large; 
}

input.confirmation-check{
 width: 30px;
height: 30px;
background: #C7C7C7; 
}


.shift-time{

font-size: medium; 
color: #5D5D5D;
}

.list-group list-group-flush{

text-align: center; 
}


#schedule .past {
    
background-color: #B9B9B9;
    
color: #888;

}



#schedule .current {
    
font-weight: bold;


}



#schedule .future {
    
background-color: #B9B9B9;
    
font-style: italic;


}


#schedule .complete {
    
color: #19C90A;

}


#schedule .incomplete {



}



p.shift-date {
   
 margin-bottom: 0;

}

.adjust-shift {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding: 6px; 
    font-size: 0.75em; 
    margin: 0 auto;
    background-color: #E538D1; 

}


/* settings */
#settings .card {
	border: none;
}

#update-modal .modal-body {
	padding: 0;
}

.settings-buttons ul {
	padding-bottom: 2em;
    color: #FFFFFF;
}

.settings-buttons li {
	display: block;
    float: left;
    list-style-type: none;
    padding: .5em;
    margin-bottom: 1.5em;
}

.settings-buttons li > a {
    background: #E538D1;
    padding: 1em 3em;
    font-weight: 500;
    color: #fff;
    border-radius: 2px;
}

#settings #accordion .btn-link {
    font-weight: 900;
    color: #000;
    width: 100%;
    text-align: left; 
}