{% extends "base.html" %}

{% block title %} Add Job {% endblock %}


{% block body %}
<div ng-controller="AddJobController">
<div class="card">
	<h5 class="card-header">Add Job</h5>
	<div class="card-body">
		<div class=row>
			<div class="col-sm">
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
				  </div>
				  <input type="text" class="form-control" placeholder="Job Name" aria-label="Job" ng-model="job.name"/>
				</div>
			</div>
			
	</div>
			
	<div class=row>
		<div class="col-sm">
			<a href="#" class="btn btn-primary" ng-click="saveJob()">Save Job</a>
		</div>
	</div>
</div>
</div>

{% block javascript %}
    <script type="text/javascript">
        {{ static_include("js/add-job-controller.js") | safe }}
    </script>
{% endblock %}
{% endblock %}