{% extends "base.html" %}

{% block title %} Settings {% endblock %}

{% block body %}

{% block javascript %}
  <script src="{{ url_for('static', filename='js/settings-controller.js') }}"></script>
{% endblock %}

<div ng-controller="SettingsController" id="settings">






<div id="accordion">
  <div class="card">
    <div class="card-header" id="add-shift">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Shift
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">

        <ul class="settings-buttons">
          <li><a href="#" ng-click="main.open('admin/addShift')">Add Shift</a></li>
          <li><a href="#" ng-click="main.open('admin/editShift')">Edit Shift</a></li>
          <li><a href="#" ng-click="main.open('admin/deleteShift')">Delete Shift</a></li>
        </ul>
        
        <div style="clear:both;"></div>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="add-employee">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Employee
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">


        <ul class="settings-buttons">
          <li><a href="#" ng-click="main.open('admin/addEmployee')">Add Employee</a></li>
          <li><a href="#" ng-click="main.open('admin/editEmployee')">Edit Employee</a></li>
          <li><a href="#" ng-click="main.open('admin/deleteEmployee')">Delete Employee</a></li>
        </ul>
        
        <div style="clear:both;"></div>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="add-job">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Job
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">

        <ul class="settings-buttons">
          <li><a href="#" ng-click="main.open('admin/addJob')">Add Job</a></li>
          <li><a href="#" ng-click="main.open('admin/editJob')">Edit Job</a></li>
          <li><a href="#" ng-click="main.open('admin/deleteJob')">Delete Job</a></li>
        </ul>
        
        <div style="clear:both;"></div>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="add-location">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
          Location
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">

        <ul class="settings-buttons">
          <li><a href="#" ng-click="main.open('admin/addLocation')">Add Location</a></li>
          <li><a href="#" ng-click="main.open('admin/editLocation')">Edit Location</a></li>
          <li><a href="#" ng-click="main.open('admin/deleteLocation')">Delete Location</a></li>
        </ul>
        
        <div style="clear:both;"></div>

    </div>
  </div>
</div>
  <div class="card">
    <div class="card-header" id="add-location">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
          Category
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">


        <ul class="settings-buttons">
          <li><a href="#" ng-click="main.open('admin/addCategory')">Add Category</a></li>
          <li><a href="#" ng-click="main.open('admin/editCategory')">Edit Category</a></li>
          <li><a href="#" ng-click="main.open('admin/deleteCategory')">Delete Category</a></li>
        </ul>
        
        <div style="clear:both;"></div>


    </div>
  </div>
</div>
  <div class="card">
    <div class="card-header" id="add-location">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
          Grouping
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="hepadingThree" data-parent="#accordion">
      <div class="card-body">

        <ul class="settings-buttons">
          <li><a href="#" ng-click="main.open('admin/addCategoryGrouping')">Add Grouping</a></li>
          <li><a href="#" ng-click="main.open('admin/editCategoryGrouping')">Edit Grouping</a></li>
          <li><a href="#" ng-click="main.open('admin/deleteCategoryGrouping')">Delete Grouping</a></li>
        </ul>
        
        <div style="clear:both;"></div>

      </div>
    </div>
  </div>
</div>




</div>



<style>
body {
  background-color: rgb(224,224,224);
}
</style>

{% endblock %}