<!DOCTYPE html>
<html ng-app="circusApp" ng-cloak>
<head>
	{% block head %}
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'links.html' %}

	<title>{% block title %}{% endblock %} - Circus Harmony Employee Portal</title>
	{% endblock %}

</head>
<body ng-controller="MainController as main">
 
	<!--  Fixed Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{{ url_for('dashboard') }}">Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('settings') }}">Settings</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">

			<div class="input-group">
			  <input type="text" class="form-control" aria-label="From" aria-describedby="basic-addon2" id="search">
			  <div class="input-group-append">
					<a href="#" class="btn btn-primary" ng-click="">Search</a>
			  </div>
			</div>

			<div class="input-group">
			  <input type="date" class="form-control" aria-label="From" aria-describedby="basic-addon2" id="schedule-from-date">
			  <input type="date" class="form-control" aria-label="To" aria-describedby="basic-addon2" id="schedule-to-date">
			  <div class="input-group-append">
					<a href="#" class="btn btn-primary" ng-click="main.updateScheduleView()">+</a>
			  </div>
			</div>

        </form>
      </div>
    </nav>

	<br><br><br>


	<!-- Message Modal -->
	<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="message" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header" ng-if="main.data.utils.message.title">
					<h5 class="modal-title" id="exampleModalLongTitle">{[main.data.utils.message.title]}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{[main.data.utils.message.content]}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="main.data.utils.resetMessage()">{[main.data.utils.message.action]}</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Update Modal -->
	<div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="message" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content" ng-include src="main.getCurrentUI()">
			</div>
		</div>
	</div>

	<div class="container-fluid">
		{% block body %}{% endblock %}
	</div> 

</body>
</html>