<!DOCTYPE html>
<html ng-app="testApp">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'links.html' %}

	<title>Dummy</title>

</head>
<body>


<script>
	
angular.module('testApp', [])
.config(function($interpolateProvider){
	$interpolateProvider.startSymbol('{[').endSymbol(']}');
})
.controller('TestController', function($scope, $http) {

	$scope.schedule = [{},{},{},{},{},{},{},{},{},{},{}];

});

</script>


        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
                $('#datetimepicker2').datetimepicker();
            });
        </script>

<div class="fixed-top" style="background-color: #eee;">
	<div class="row">
		<div class="col-sm-6">
		Schedule
		</div>
		<div class="col-sm-6">


	        <div class='col-sm-6'>
	            <div class="form-group">
	                <div class='input-group date' id='datetimepicker1'>
	                    <input type='text' class="form-control" />
	                    <span class="input-group-addon">
	                        <span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	                </div>
	            </div>
	        </div>
	        <div class='col-sm-6'>
	            <div class="form-group">
	                <div class='input-group date' id='datetimepicker2'>
	                    <input type='text' class="form-control" />
	                    <span class="input-group-addon">
	                        <span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	                </div>
	            </div>
	        </div>



		</div>
	</div>
</div>





<div ng-controller="TestController">
	

  <ul class="list-group list-group-flush">
    <li class="list-group-item" ng-repeat="item in schedule">


	<div class="row">
		<div class="col-sm-12" style="padding: 2em;">
		
			<div class="row">
				<div class="col-sm-4 text-center">
					<p>Jan 24th</p>
					<p>11am - 12pm</p>
				</div>
				<div class="col-sm-4 text-center">

					<p>Trapezee Coaching</p>
					<p>Fergurson</p>
					
				</div>
				<div class="col-sm-4 text-center">

					<div class="btn-group" role="group" aria-label="Basic example">
						<a href="#" class="btn btn-primary">-15</a>
						<a href="#" class="btn btn-default" disabled>1 Hr</a>
						<a href="#" class="btn btn-primary">+15</a>
					</div>

					<div>
						<input type="checkbox">
					</div>

				</div>
			</div>

		</div>	
	</div>




    </li>
  </ul>

</div>


</body>
</html>