{% extends "base.html" %}

{% block title %} Schedule {% endblock %}

{% block body %}

{% block javascript %}
	<script src="{{ url_for('static', filename='js/schedule-controller.js') }}"></script>
{% endblock %}

<div ng-controller="ScheduleController" id="schedule">

  <ul class="list-group list-group-flush">
    <li class="list-group-item" ng-repeat="shift in data.shifts | orderBy: -momentValueSort" > <!-- ng-if="isBetweenDates(shift)" -->

		<div class="row">
			<div class="col-sm-12" style="padding: 2em;">
			
				<div class="row">
					<div class="col-sm-4 text-center">
						<p class="shift-date">
							{[ renderDate(shift.date, "MMM Do, YYYY") ]}
						</p>
						<p class="shift-time">
							{[ renderDate(shift.start_time, "h:mm a") ]}
							- 
							{[ renderDate(shift.end_time, "h:mm a") ]}
						</p>
					</div>
					<div class="col-sm-4 text-center">

						<p class="category" ng-if="data.helpers.getCategoryById(shift.category_id)!==false">{[ data.helpers.getCategoryById(shift.category_id).name ]}</p>
						<p class="location" ng-if="data.helpers.getLocationById(shift.location)!==false">{[ data.helpers.getLocationById(shift.location).name  ]}</p>
						
					</div>
					<div class="col-sm-4 text-center">

						<div class="btn-group" role="group" aria-label="Basic example">
							<a href="#" class="btn btn-primary">-15</a>
							<a href="#" class="btn btn-default" disabled>1 Hr</a>
							<a href="#" class="btn btn-primary">+15</a>
						</div>

						<div>
							<input type="checkbox" ng-model="shift.complete" ng-change="updateShift(shift)" class="confirmation-check" >
						</div>

					</div>
				</div>

			</div>	
		</div>

    </li>
  </ul>

</div>

{% endblock %}